.container1 {
width: 200px;
height: 100px;
background-color: red; }

.container2 {
width: 200px;
height: 100px;
left: 250px;
bottom: 115px;
position: relative;
background-color: green; }

.container3 {
width: 200px;
height: 100px;
position: relative;
left: 500px;
bottom: 230px;
background-color: yellow; }
